/* ------------------------------------------------------------------------------------------------- Structure */

html {
    font-size: 16px;
}

body {
    color: #333;
    font-family: 'proxima-nova', sans-serif;
    line-height: 1.6;
}

header, #hero, main, footer {
    font-size: 1rem;
}

.inner {
    margin: 0 auto;
}

header .inner, #hero .inner, main .inner, footer .inner {
    max-width: 1200px;
}

img {
    height: auto;
    width: 100%;
}

ul li {
    margin-bottom: 1rem;
}

/* ------------------------------------------------------------------------------------------------- Text */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'futura-pt', serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: #df4882;
}

/* ------------------------------------------------------------------------------------------------- Hero */

#hero {
    background: #333 url(../images/hero.jpg) 80% 0;
    background-size: cover;
    color: #fff;
    text-align: center;
}

#hero .main-navigation ul li a {
    color: #fff;
}

#hero h1 {
    margin: 0;
}

#hero h1 span {
    color: #df4882;
}

#hero h3 {
    color: #df4882;
}

/* ------------------------------------------------------------------------------------------------- Header */

#header {
    padding: 1rem;
    position: relative;
}

.site-branding {
    margin: 0;
    overflow: hidden;
}

.site-branding img.logo {
    display: block;
    height: 45px;
    width: auto;
}

/* ------------------------------------------------------------------------------------------------- Top Menu */

.menu-drop a {
    display: block;
    height: 30px;
    padding: 15px 1em 0 1em;
    position: absolute;
    right: 1rem;
    text-indent: -9999px;
    top: 1rem;
    width: 2em;
}

.open .menu-drop a {
    background: #1B3254;
    height: 40px;
}

.menu-drop a::before {
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 2rem;
}

.menu-drop a::after {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    top: 23px;
    width: 2em;
}

.main-navigation ul {
    display: none;
    margin: 10px 0 0;
    padding: 0;
}

.main-navigation ul li {
    list-style: none;
    margin: 0;
}

.main-navigation ul li a {
    background: #1B3254;
    border-bottom: 1px solid #444;
    color: #fff;
    display: block;
    padding: 0.8rem;
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------- Hero Content */

#hero-content {
    background: rgba(27, 50, 84, 0.75);
    margin-top: 20rem;
    padding: 1rem;
}
















.signup {
    margin-top: 25px;
}

.signup input {
    border: 1px solid #ddd;
    color: #333;
    font-family: 'proxima-nova', sans-serif;
    margin: 0 0 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.signup input[type="submit"] {
    background: #df4882;
    border: 0;
    color: #fff;
}

#feature,
#content,
#comments,
#archive,
#funnel,
#footer {
    padding: 25px;
}

#feature h2 {
    font-size: 24px;
    margin: 20px 0 5px;
}

#feature h2 a {
    color: #df4882;
    text-decoration: none;
}

#feature h3 {
    color: #999;
}

#feature p {
    margin: 0;
}

#more {
    padding: 0 25px;
}

#more a {
    text-decoration: none;
}

#archive h3 {
    font-size: 24px;
    margin: 20px 0 5px;
}

#archive p {
    border-bottom: 1px solid #ddd;
    margin: 0 0 25px;
    padding: 0 0 25px;
}

#archive h3 a {
    text-decoration: none;
}

#funnel h3 {
    color: #1B3254;
}

#comments h2,
#comments h3 {
    color: #1B3254;
    font-size: 20px;
    margin: 0 0 25px;
}

#comments a {
    text-decoration: none;
}

.comments-area {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 25px 0;
}

.comments-area > :last-child {
    margin-bottom: 0;
}

.comment-list + .comment-respond {
    border-top: 1px solid #ddd;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
    padding-top: 25px;
}

.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    padding: 25px 0 0 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;
}

.comment-list .children > li {
    padding-left: 5px;
}

.comment-author {
    color: #999;
}

.comment-author .avatar {
    float: left;
    height: 24px;
    margin-right: 5px;
    width: 24px;
}

.bypostauthor > article .fn:after {
    content: "\f304";
    position: relative;
    top: 5px;
    left: 3px;
}

.comment-meta a {
    font-size: 12px;
    text-decoration: none;
}

.comment-metadata,
.pingback .edit-link {
    font-size: 12px;
}

.comment-metadata a,
.pingback .edit-link a {
    color: #999;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
    color: #333;
}

.comment-metadata {
    margin-bottom: 10px;
}

.comment-metadata .edit-link {
    margin-left: 10px;
}

.pingback .edit-link {
    margin-left: 10px;
}

.pingback .edit-link:before {
    top: 5px;
}

.comment-content ul,
.comment-content ol {
    margin: 0 0 10px 10px;
}

.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0;
}

.comment-content > :last-child {
    margin-bottom: 0;
}

.comment-list .comment-body {
    border-top: 1px solid #ddd;
    margin-bottom: 25px;
    padding-top: 25px;
}

.comment-list .reply a {
    background: #df4882;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 8px;
    text-transform: uppercase;
}

.comment-list .reply a:hover,
.comment-list .reply a:focus {
    color: #fff;
    outline: 0;
}

.comment-form label {
    color: #999;
    display: block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"],
.comment-form textarea {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.comment-form input[type="submit"] {
    background: #df4882;
    border: 0;
    color: #fff;

}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
    color: #999;
    margin: 0 0 25px;
}

.logged-in-as a:hover {
    border-bottom: 1px solid #333;
}

.no-comments {
    border-top: 1px solid #ddd;
    color: #999;
    padding-top: 10px;
}

.comment-navigation + .no-comments {
    border-top: 0;
}

.form-allowed-tags code {
    font-family: monospace;
}

.form-submit {
    margin-bottom: 0;
}

.required {
    color: #c0392b;
}

.comment-reply-title small {
    font-size: 12px;
}

.comment-reply-title small a {
    border: 0;
    float: right;
    line-height: 32px;
    overflow: hidden;
}

.comment-reply-title small a:before {
    content: "\f405";
    font-size: 32px;
    position: relative;
    top: -3px;
}

#footer ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#footer ul li {
    float: left;
    list-style: none;
    margin: 0 40px 0 0;
}

#footer ul li a {
    color: #999;
    text-decoration: none;
}

.social-navigation a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: "Genericons";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: top;
}

.social-navigation a {
    display: block;
    height: 3.2em;
    position: relative;
    width: 3.2em;
}

.social-navigation a:before {
    content: "\f415";
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.social-navigation a[href*="facebook.com"]:before {
    content: "\f203";
}

.social-navigation a[href*="github.com"]:before {
    content: "\f200";
}

.social-navigation a[href*="linkedin.com"]:before {
    content: "\f208";
}

.social-navigation a[href*="twitter.com"]:before {
    content: "\f202";
}

.social-navigation a[href*="youtube.com"]:before {
    content: "\f213";
}

.social-navigation ul:before,
.social-navigation ul:after {
    content: "";
    display: table;
}

.social-navigation ul:after {
    clear: both;
}

#footer .social-navigation ul li {
    margin: 0;
}

#footer .social-navigation ul li a {
    color: #df4882;
}

#ck_success_msg p,
#ck_error_msg p {
    margin: 0 0 20px;
}

#ck_success_msg p {
    color: #0f6;
}

#ck_error_msg p {
    color: #f33;
}

/*@media screen and (min-width : 768px) {
    body {
        font-size: 18px;
    }

    #header,
    #notice,
    #hero-content,
    #feature,
    #content,
    #more,
    #comments,
    #archive,
    #funnel,
    #footer {
        margin: 0 auto;
        padding: 0;
        width: 920px;
    }

    #header,
    #hero-content {
        padding: 50px 0;
    }

    #hero,
    #feature,
    #comments,
    #footer {
        padding: 50px 0;
    }

    #notice,
    #content,
    #funnel {
        padding: 0 0 50px;
    }

    #hero h1 {
        font-size: 48px;
        line-height: 1.4;
    }

    #hero h3 {
        font-size: 24px;
    }

    #hero article {
        width: 600px;
    }

    .main-navigation {
        float: left;
        margin: 0 0 0 50px;
    }

    .main-navigation ul li {
        float: left;
        list-style: none;
        margin: 0 40px 0 0;
    }
    
    .signup {
        overflow: hidden;
    }

    .signup input {
        float: left;
        width: 60%;
    }

    .signup input[type="submit"] {
        border: 1px solid #df4882;
        float: left;
        margin-left: 2%;
        width: 38%;
    }

    #feature h3 {
        margin: 0 0 50px;
    }

    #content h1 {
        font-size: 36px;
    }

    #content h3 {
        font-size: 24px;
    }

    #comments h2,
    #comments h3 {
        margin: 0 0 50px;
    }

    .comment-list + .comment-respond,
    .comment-navigation + .comment-respond {
        padding-top: 50px;
    }

    #archive p {
        margin: 0 0 50px;
        padding: 0 0 50px;
    }
}*/